body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Default background color */
  color: black; /* Default text color */
}

.dark-mode {
  background-color: black; /* Dark background color */
  color: #f4f4f4; /* White text color */
}

#toggle-button {
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0.5rem;
  color: #35424a;
  font-weight: bolder;
  background-color: #f4f4f4;
  border: none;
  cursor: pointer;
  transition: transform ease-in-out 1.5s, background-color ease-in-out 1.5s,
    color ease-in-out 1.5s;
}

#toggle-button:hover {
  transform: scale(1.1);
  background-color: #a3b2bb; /* Change background color */
  color: #f4f4f4; /* Change text color */
}

header {
  background-color: #35424a;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

main {
  padding: 20px;
}

.profile-image-container {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.profile-image {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden !important;
  object-fit: cover;
  transition: transform ease-in-out 2s;
  cursor: pointer;
}

.profile-image:hover {
  transform: rotate(45deg);
}

.information-wrapper {
  margin-bottom: 2.5em;
}

h2 {
  color: #35424a;
}

/* Projects information (CSS) */
.projects-wrapper {
  line-height: 2rem;
}

.project-item {
  color: #35424a;
  text-decoration: none;
}

.project-item:active {
  color: #35424a;
  text-decoration: none;
}

/* Contact information (CSS) */
.contact-me-wrapper {
  display: flex;
  padding-top: 1.5rem;
  margin-left: 1rem;
  gap: 50px; /* Adjust the space between icons */
}

.icon {
  margin-right: 8px; /* Existing margin between icon and text */
  margin-left: 10px; /* Add space between icons */
  color: #35424a;
}

.tel,
.email {
  text-decoration: none;
  color: #35424a;
  font-weight: bolder;
}

footer {
  text-align: center;
  padding: 10px 20px;
  background: #35424a;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
